.flexHeader, .mainBody, .sectionFlex {
    display : flex;
}

 .sectionFlex, .flexHeader, .containedBody, .mainBody  {
    align-items: center;
 }

 .sectionFlex {
    justify-content: center;
 }

.flexHeader {
    justify-content: space-between;
    gap: 10em;
    margin : 0 1%;
}

.logoHeader {
    width : 16%;
}

.maxWidth {
    width : 100%;
}

.flexHeader {
    margin-bottom: 2%;
}

.containedBody {
    width : 70%;
}

.mainBody {
    padding : 1em;
    background-color: #c00000;
    justify-content: center;
    
    flex-direction: column;
    color : rgb(255, 255, 255);
}

.foodTruckCoordTH {
    min-width: 15%;
    color : #000;
}

table {
    border-collapse: collapse;
    background-color: #fff;
}

th {
    border : 2px solid #000000;
    padding : 1%;
}

.decoButton {
    background-color: #c00000;
    border-radius: 0.5em;
    border: 0;
    padding: 0.5em;
    color: white;
}