.flexHeader {
  display : flex;
  justify-content: space-between;
  gap: 10em;
  align-items: center;
}

.flexHeader a {
  align-items: center;
}

.logo {
  width: 200px;
}

.connexion button{
  background-color: rgb(174, 0, 0);
  border-radius: 5px;
  color:white;
  padding: 5px 15px;
}


.mainBody {
  background-color: rgb(255, 226, 110);
  max-width: 950px;
  margin: auto;
  height: 400px;
}

h1 {
  color: white;
  padding-left: 135px;
  padding-top: 15px;
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table{
  background-color: white;
  margin: auto;
  border: 1px solid black;
}

thead {
  border: 1px solid black;
  
}

tbody tr:nth-child(odd) {
  background-color: #e8e8e8;
}

tr {
  margin-right: 20px;
  text-align: left;
}

.vege, .burger, .viande{
  width: 15px;
  align-items: center;
}